/* FONTS FOR WEBSITE */
@font-face {
    font-family: myFirstFont;
    src: url(../fonts/Quicksand_Dash.otf);
    font-weight: bold;
}

@font-face {
    font-family: font_select;
    src: url(../fonts/OstrichSans-Black.otf);
    font-weight: bold;
}

/* DEFINING IMAGES AND PLACEMENT */
div.header {
  height: 600px;
  text-align: center;
  background-image: url(../images/sea.jpg);
  background-size: contain;
}
div.header h1 {
  margin-left: 2%;
  font-size: 100px;
  color: white;
  font-family: font_select;
  text-align: left;
  opacity: 1;
}
div.header p {
  background-color: white;
  margin-left: 0 auto;
  font-size: 30px;
  font-family: font_select;
  color: black;
  float: left;
  text-align: left;
}
div.header img {
  border-radius: 50%;
  border: 3px white solid;
  float: right;
  margin-right: 15%;
  height: 400px;
  width: 400px;
  transition: all .2s ease-in-out;
}
div.header img:hover{
  transform: scale(1.6) rotate(-10deg);
}



.navbar {
    width: 100%;
    border-radius: 0px 0px 20px 20px;
    float: left;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
    margin:0 0 2% 0;
}

.navbar a {
    border-radius: 0px, 0px, 45px, 0px;
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
  float: left;
  text-align: center;
  overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
/* Control the color of hover for non drop down links */
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {background-color: #ddd}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}









div.sectionA {
  padding: 4%;
  border: 2px white solid;
  background-color: #C0C0C0;
  height: 800px;
}
div.sectionA img {
  border-radius: 50%;
  border: 3px white solid;
  float: left;
  height: 600px;
  width: 600px;
  transition: all .2s ease-in-out;
  opacity: 0.5;
}
div.sectionA img:hover{
  transform: scale(1.1);
  opacity: 1;
  transform: rotate(-10deg);
}
div



/*sectionB is inverse of sectionA with image on the right*/
div.sectionB {
  padding: 4%;
  border: 2px white solid;
  background-color: #909090;
  height: 800px;
}
div.sectionB img {
  border-radius: 50%;
  border: 3px white solid;
  float: right;
  height: 600px;
  width: 600px;
  transition: all .2s ease-in-out;
  opacity: 0.5;
}
div.sectionB img:hover{
  transform: scale(1.1);
  opacity: 1;
  transform: rotate(-10deg);
}
.clear {
  clear: both;
}



div.textBoxRight {
  width: 800px;
  text-align: right;
  float: right;
}

div.textBoxRight p {
  font-family: myFirstFont;
  color: white;
  font-size: 40px;
  text-align: right;

}
div.textBoxLeft {
  width: 800px;
  text-align: left;
  float: left;
}

div.textBoxLeft p {
  font-family: myFirstFont;
  color: white;
  font-size: 40px;
  text-align: left;

}

/* SET UP TEXT BOXES FOR ANIMAL DESCRIPTION */
